<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8"/>
<title>login test</title>
<script type="text/javascript" src="js/vue-developmentMode.js"></script>
<script type="text/javascript" src="js/Velocity.js"></script>
<!--  script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://unpkg.com/lodash@4.13.1/lodash.min.js"></script>-->
<script type="text/javascript" src="js/lodash.js"></script>
<script type="text/javascript" src="js/jQuery-v3.2.1.js"></script>
<script type="text/javascript" src="js/axios-v0.16.1.js"></script>
<script type="text/javascrit" src="js/tween.js"></script>
<script type="text/javascript" src="js/TweenMax.min.js"></script>
<link type="text/css" rel="stylesheet" href = "css/user/index4.css" >
</head>
<body>

	<button onclick="show()">login</button>
	<div id="vue2" :class="{fixed:fixed, 'hidden':hidden}">
		<table border=1>
			<tr>
				<td>用户名：</td>
				<td><input v-model="value" :class="{'redUname':redUname}" /></td>
			</tr>
			<tr>
				<td>密码：</td>
				<td><input v-model="PWD" type="password"
					:class="{'redPWD':redPWD}" /></td>
			</tr>
			<tr>
				<td colspan="2">
					<button style="background-color: rgb(10, 30, 10);" class="white">login</button>
					<button onclick="cancle()" class="left">cancel</button>
				</td>
			</tr>
		</table>
	</div>
	<command label=""></command>
	<div style="position: absolute; top: 500%;">
		<button onclick="alert()">alert</button>
	</div>
	<div id="vue3">
		<label for="price">价格 <input v-model="price" name="price"
			@focus="zeroCheck('price')" maxlength="5" >
		</label> 
		<label for="count">数量 <input v-model="count" name="count"
			@focus="zeroCheck('count')" maxlength="5" >
		</label>
		<label for="totalCost">金额：￥ <span v-text="totalCost"
			name="totalCost"></span>元
		</label>
		<button @click = "getSometing">getSometing</button>
		<span v-text="responseData"></span>
		<button @click = "ajax()">ajax</button>   
	</div>
	<div id = "vue4">
	              <table border = 1 v-if="seen">
	                    <tr>
	                          <td>
	                               <span v-if="admin">
	                                  <span>admin：</span>
	                               </span>
	                               <span v-else="user">
	                                      <span>user：</span>
	                               </span>
	                               </td>
	                          <td><input v-model = "username" :class="{redUname:redUname}"/></td>
	                    </tr>
	                    <tr>
	                          <td><span>密码：</span></td>
	                          <td><input v-model = "PWD" name="password" :class="{redPWD:redPWD}"/></td>
	                    </tr>
	                    <tr>
	                           <td colspan="2">
	                              <input type = "radio" name = "identity" value = "admin" @click = "change('admin')">admin
	                              <input type = "radio" name = "identity" value = "user"  @click = "change('')" checked/>user
	                           </td>
	                    </tr>
	                    <tr>
	                           <td colspan = "2">
	                               <button @click = "check($event)">login</button>
	                           </td>
	                    </tr>
	              </table>
	              <div v-for="data in datas" v-text="data">
	                       <hr/>
	              </div>
	</div>
    <div id = "check">
                 <input type = "password" v-model = "PWD">
                 <button @click = "check();">check</button>
    </div>
    <div id = "trace">
                   <span v-text = "responseData"></span>
                   <button @click = "trace();">trace</button>
                   <form method="delete" action = "text.html">
                             <input type = "submit" value = "delete"/>
                   </form>
    </div>
</body>
<script type="application/javascript" src="js/user/index4.js"></script>
</html>