<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.easyBuy.hz.bean.userMapper">
	<!-- 
		根据id查询得到一个user对象
	 -->
	 <resultMap id="resultmap1" type="com.easyBuy.hz.bean.User">
         <result property="euUserId" column="eu_user_id"/>
         <result property="euUserName" column="eu_user_name"/>
         <result property="euPassword" column="eu_password"/>
         <result property="euSex" column="eu_sex"/>
         <result property="euBirthday" column="eu_birthday"/>
         <result property="euIdentityCode;" column="eu_identity_code;"/>
         <result property="euEmail" column="eu_email"/>
         <result property="euMobile" column="eu_mobile"/>
     </resultMap>
	 
	
	 <select id="getUser"   parameterType="com.easyBuy.hz.bean.User" resultType="com.easyBuy.hz.bean.User" resultMap="resultmap1">
	 	select * from easybuy_user where 1=1
	 	<if test="euUserName">and eu_user_name=#{euUserName}</if>
	 	
	 </select>
	 
	 <select id="getUserList"   resultMap="resultmap1">
	 	select * from easybuy_user
	 	
	 </select>
	 
	  <delete id = "deUser" parameterType="com.easyBuy.hz.bean.User" >
	 delete from easybuy_user
	 where eu_user_id=#{euUserId}
	 </delete>
	 
	 <insert id = "inUser" parameterType="com.easyBuy.hz.bean.User" >
	 insert into easybuy_user(eu_user_id,eu_user_name,eu_password,eu_sex,eu_email,eu_mobile) 
	  values(#{euUserId},#{euUserName},#{euPassword},#{euSex},#{euEmail},#{euMobile})
	 </insert>
	 
	 <update id="upUser" parameterType="com.easyBuy.hz.bean.User">
	 update easybuy_user set eu_user_id=#{userName},eu_user_name=#{euUserName},eu_password=#{euPassword},
	 eu_sex=#{euSex},eu_email=#{euEmail},eu_mobile=#{euMobile} where eu_user_id=#{euUserId}
	 </update>
</mapper>
